In [231]:
import numpy as np
import pandas as pd
import math
import string
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA, FastICA
from sklearn.decomposition import TruncatedSVD 
from sklearn.random_projection import GaussianRandomProjection
from sklearn.random_projection import SparseRandomProjection
from sklearn.feature_extraction import DictVectorizer
from xgboost.sklearn import XGBClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import *
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor

import h2o
from h2o.estimators.random_forest import H2ORandomForestEstimator
from sklearn.ensemble import RandomForestRegressor

In [232]:
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
import time
start = time.time()

meta_file = pd.read_csv("./AutoKaggle - Metadata.csv", encoding='cp1252',error_bad_lines=False)
arrOfRows = [64,360,239,316,515,518, 523]
nlp_rows = [239]
tabular_rows = [64,360,316,515,518]
row = 523
competition_name = meta_file['name'].loc[row]
print(meta_file['name'].loc[row])
dir_name = "./" + competition_name 
train_file = dir_name + "/data/train.csv"
row_file = dir_name + "/submission/row.csv"

meta = pd.read_csv(row_file)
print(meta['name'].loc[0])
def preprocessing(row):
   
    train = pd.read_csv(train_file)
#     find_row = meta.loc[row]
#     train = ''
#     test = None
    check_pred = False
    train_X = ''
    train_Y = ''
    test = None
    if meta['name'].loc[0] == 'kobe-bryant-shot-selection':
        train = pd.read_csv("./kobe-bryant-shot-selection/data/data.csv")
        check_pred = False
    elif meta['name'].loc[0] == 'mercedes-benz-greener-manufacturing':
        train = pd.read_csv("./mercedes-benz-greener-manufacturing/data/train.csv")
        test = pd.read_csv("./mercedes-benz-greener-manufacturing/data/test.csv")
      
    
#     if check_pred:
#         test = test.dropna()
    if meta['name'].loc[0] == 'uciml_sms-spam-collection-dataset':
        row = pd.read_csv("./uciml_sms-spam-collection-dataset/submission/row.csv", encoding='cp1252')
        sms = train
        row_prepro = row['preprocessing function call'][0]
        prepro_ls = eval(row_prepro)
        sms = eval(prepro_ls[0])
        train = eval(prepro_ls[1])
        return train
    else:
        if type(meta['test set'].loc[0]) is str:
            row_file = dir_name + "/data/test.csv"
            test = pd.read_csv(row_file, encoding='cp1252', error_bad_lines=False)
        if type(meta['preprocessing function call'].loc[0]) is str:
            preprocessing_calls = eval(meta['preprocessing function call'].loc[0])
            for call in preprocessing_calls:
                exec(call)
                print(train.head())
        train = train.dropna()
        if type(meta["unwanted column"].loc[0]) is str:  # check if there's unwanted column
            column_list = eval(meta["unwanted column"].loc[0])
            train = train.drop(column_list,axis=1)
            print(train)
        if type(meta["numeric column"].loc[0]) is str:
            numeric=eval(meta["numeric column"].loc[0])
        for c in train.columns:
            if train[c].dtype == 'object':    # deal with text
                lbl = LabelEncoder() 
                if check_pred:
                    lbl.fit(list(train[c].values) + list(test[c].values)) 
                    train[c] = lbl.transform(list(train[c].values))
                    test[c] = lbl.transform(list(test[c].values))
                else:
                    lbl.fit(list(train[c].values))
                    train[c] = lbl.transform(list(train[c].values))
        target_name = str(meta['targetName'].loc[0])
        train_Y = train[[target_name]]
        train_X = train.drop(columns=target_name)
        train_X,test_X,train_Y,test_Y = train_test_split(train_X, train_Y, test_size=0.2)
        if check_pred:
            return train_X, train_Y, test_X, test_Y, pred_X
        else:
            return train_X, train_Y, test_X, test_Y,None#         if check_pred:


preprocessing(row)

rossmann-store-sales
rossmann-store-sales

/Users/Osborn/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3220: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

   Store  DayOfWeek        Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5  2015-07-31   5263        555     1      1            0
1      2          5  2015-07-31   6064        625     1      1            0
2      3          5  2015-07-31   8314        821     1      1            0
3      4          5  2015-07-31  13995       1498     1      1            0
4      5          5  2015-07-31   4822        559     1      1            0

   SchoolHoliday
0              1
1              1
2              1
3              1
4              1
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday
0              1
1              1
2              1
3              1
4              1
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month
0              1      7
1              1      7
2              1      7
3              1      7
4              1      7
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
         Store  DayOfWeek  Sales  Customers  Open  Promo StateHoliday  \
0            1          5   5263        555     1      1            0
1            2          5   6064        625     1      1            0
2            3          5   8314        821     1      1            0
3            4          5  13995       1498     1      1            0
4            5          5   4822        559     1      1            0
5            6          5   5651        589     1      1            0
6            7          5  15344       1414     1      1            0
7            8          5   8492        833     1      1            0
8            9          5   8565        687     1      1            0
9           10          5   7185        681     1      1            0
10          11          5  10457       1236     1      1            0
11          12          5   8959        962     1      1            0
12          13          5   8821        568     1      1            0
13          14          5   6544        710     1      1            0
14          15          5   9191        766     1      1            0
15          16          5  10231        979     1      1            0
16          17          5   8430        946     1      1            0
17          18          5  10071        936     1      1            0
18          19          5   8234        718     1      1            0
19          20          5   9593        974     1      1            0
20          21          5   9515        682     1      1            0
21          22          5   6566        633     1      1            0
22          23          5   7273        560     1      1            0
23          24          5  14190       1082     1      1            0
24          25          5  14180       1586     1      1            0
25          26          5   7818        611     1      1            0
26          27          5  13213       1263     1      1            0
27          28          5   7301        663     1      1            0
28          29          5   9411        737     1      1            0
29          30          5   4776        625     1      1            0
...        ...        ...    ...        ...   ...    ...          ...
1017179   1086          2      0          0     0      0            a
1017180   1087          2      0          0     0      0            a
1017181   1088          2      0          0     0      0            a
1017182   1089          2      0          0     0      0            a
1017183   1090          2      0          0     0      0            a
1017184   1091          2      0          0     0      0            a
1017185   1092          2      0          0     0      0            a
1017186   1093          2      0          0     0      0            a
1017187   1094          2      0          0     0      0            a
1017188   1095          2      0          0     0      0            a
1017189   1096          2      0          0     0      0            a
1017190   1097          2   5961       1405     1      0            a
1017191   1098          2      0          0     0      0            a
1017192   1099          2      0          0     0      0            a
1017193   1100          2      0          0     0      0            a
1017194   1101          2      0          0     0      0            a
1017195   1102          2      0          0     0      0            a
1017196   1103          2      0          0     0      0            a
1017197   1104          2      0          0     0      0            a
1017198   1105          2      0          0     0      0            a
1017199   1106          2      0          0     0      0            a
1017200   1107          2      0          0     0      0            a
1017201   1108          2      0          0     0      0            a
1017202   1109          2      0          0     0      0            a
1017203   1110          2      0          0     0      0            a
1017204   1111          2      0          0     0      0            a
1017205   1112          2      0          0     0      0            a
1017206   1113          2      0          0     0      0            a
1017207   1114          2      0          0     0      0            a
1017208   1115          2      0          0     0      0            a

         SchoolHoliday  month  year
0                    1      7  2015
1                    1      7  2015
2                    1      7  2015
3                    1      7  2015
4                    1      7  2015
5                    1      7  2015
6                    1      7  2015
7                    1      7  2015
8                    1      7  2015
9                    1      7  2015
10                   1      7  2015
11                   1      7  2015
12                   0      7  2015
13                   1      7  2015
14                   1      7  2015
15                   1      7  2015
16                   1      7  2015
17                   1      7  2015
18                   1      7  2015
19                   0      7  2015
20                   1      7  2015
21                   0      7  2015
22                   1      7  2015
23                   1      7  2015
24                   1      7  2015
25                   1      7  2015
26                   1      7  2015
27                   1      7  2015
28                   1      7  2015
29                   1      7  2015
...                ...    ...   ...
1017179              1      1  2013
1017180              1      1  2013
1017181              1      1  2013
1017182              1      1  2013
1017183              1      1  2013
1017184              1      1  2013
1017185              1      1  2013
1017186              1      1  2013
1017187              1      1  2013
1017188              1      1  2013
1017189              1      1  2013
1017190              1      1  2013
1017191              1      1  2013
1017192              1      1  2013
1017193              1      1  2013
1017194              1      1  2013
1017195              1      1  2013
1017196              1      1  2013
1017197              1      1  2013
1017198              1      1  2013
1017199              1      1  2013
1017200              1      1  2013
1017201              1      1  2013
1017202              1      1  2013
1017203              1      1  2013
1017204              1      1  2013
1017205              1      1  2013
1017206              1      1  2013
1017207              1      1  2013
1017208              1      1  2013

[1017209 rows x 10 columns]

(         Store  DayOfWeek  Customers  Open  Promo  StateHoliday  \
 535320     906          7          0     0      0             0
 912944     545          4        998     1      0             0
 556266     667          2        871     1      1             0
 147721     542          6        466     1      0             0
 968820     671          3        512     1      0             0
 738617     158          6        580     1      0             0
 214573     494          2        995     1      0             0
 622895     396          5       1664     1      1             0
 224178      64          7          0     0      0             0
 548591     797          2        319     1      0             0
 251023     746          2        748     1      1             0
 659003     824          1       1114     1      1             0
 493074    1030          3        453     1      1             0
 829722     948          2       2085     1      1             0
 830681     792          1        906     1      1             0
 476316     997          4          0     0      1             1
 13223      959          1        824     1      0             0
 483564     440          4        575     1      0             0
 45911      197          6        711     1      0             0
 179121     722          6       1358     1      0             0
 731343     689          6        568     1      0             0
 379585     188          4        550     1      1             0
 352251    1034          6        290     1      0             0
 422198     399          3        643     1      1             0
 914187     673          3        490     1      0             0
 129309    1085          2        746     1      0             0
 318052     390          7          0     0      0             0
 1013741    992          5        706     1      0             0
 402813       4          7          0     0      0             0
 431863      29          1          0     0      0             1
 ...        ...        ...        ...   ...    ...           ...
 777772     288          6        394     1      0             0
 1012281    647          6        592     1      0             0
 790663     914          2        980     1      0             0
 359813      15          4        667     1      1             0
 567352     603          6        899     1      0             0
 205330     171          3        842     1      1             0
 306144     690          6        665     1      0             0
 658638     459          1       1531     1      1             0
 961651     192          2        354     1      1             0
 283757     756          2       2253     1      1             0
 293124     776          6          0     0      0             1
 925291     627          7          0     0      0             0
 540685     696          2       1158     1      1             0
 947660     696          1       1202     1      1             0
 663120     481          4        381     1      0             0
 593428    1034          4        744     1      0             0
 306478    1083          6        387     1      0             0
 524342    1078          3        620     1      1             0
 220968     199          3        559     1      1             0
 747397      18          5        902     1      1             0
 953131     592          3        533     1      0             0
 36358      679          1       1330     1      1             0
 118150    1076          5        592     1      1             0
 769340     776          7          0     0      0             0
 713030     216          1        985     1      0             0
 995291     382          7          0     0      0             0
 601898     584          3        401     1      1             0
 819917      63          3        469     1      0             0
 604324     780          1       1126     1      1             0
 513067     953          6        205     1      0             0

          SchoolHoliday  month  year
 535320               0      3  2014
 912944               1      4  2013
 556266               0      2  2014
 147721               0      3  2015
 968820               1      2  2013
 738617               0      9  2013
 214573               0      1  2015
 622895               0     12  2013
 224178               0      1  2015
 548591               0      2  2014
 251023               0     12  2014
 659003               0     11  2013
 493074               1      4  2014
 829722               0      6  2013
 830681               0      6  2013
 476316               0      5  2014
 13223                1      7  2015
 483564               1      4  2014
 45911                0      6  2015
 179121               0      2  2015
 731343               0      9  2013
 379585               1      7  2014
 352251               0      8  2014
 422198               1      6  2014
 914187               1      4  2013
 129309               1      4  2015
 318052               0     10  2014
 1013741              1      1  2013
 402813               0      7  2014
 431863               0      6  2014
 ...                ...    ...   ...
 777772               0      8  2013
 1012281              0      1  2013
 790663               1      7  2013
 359813               1      8  2014
 567352               0      2  2014
 205330               0      1  2015
 306144               0     10  2014
 658638               0     11  2013
 961651               0      2  2013
 283757               0     11  2014
 293124               0     11  2014
 925291               0      3  2013
 540685               1      3  2014
 947660               1      3  2013
 663120               0     11  2013
 593428               0      1  2014
 306478               0     10  2014
 524342               0      3  2014
 220968               0      1  2015
 747397               0      8  2013
 953131               0      2  2013
 36358                0      6  2015
 118150               0      4  2015
 769340               0      8  2013
 713030               0      9  2013
 995291               0      1  2013
 601898               1      1  2014
 819917               1      6  2013
 604324               0      1  2014
 513067               0      3  2014

 [813767 rows x 9 columns],          Sales
 535320       0
 912944    8909
 556266   10514
 147721    5765
 968820    4260
 738617    7884
 214573    6235
 622895   19182
 224178       0
 548591    2638
 251023   11436
 659003    9342
 493074    5263
 829722    6677
 830681   10662
 476316       0
 13223     7372
 483564    4488
 45911     6514
 179121    7833
 731343    4818
 379585    7059
 352251    2696
 422198    6535
 914187    5288
 129309    7182
 318052       0
 1013741   5150
 402813       0
 431863       0
 ...        ...
 777772    4629
 1012281   4359
 790663    7413
 359813    7265
 567352    5972
 205330    9049
 306144    4316
 658638   14381
 961651    5019
 283757   16006
 293124       0
 925291       0
 540685    9414
 947660   10303
 663120    3349
 593428    5593
 306478    4945
 524342    7905
 220968    7515
 747397    8033
 953131    3938
 36358    14795
 118150    4385
 769340       0
 713030    7407
 995291       0
 601898    4638
 819917    4755
 604324   10805
 513067    1990

 [813767 rows x 1 columns],         Store  DayOfWeek  Customers  Open  Promo  StateHoliday  SchoolHoliday  \
 881966    787          4       1429     1      1             0              0
 799181    512          1       1268     1      1             0              0
 87792     823          4          0     0      0             1              0
 451350    561          5        723     1      1             0              0
 280734    486          5        549     1      1             0              0
 788923    289          3        475     1      0             0              1
 26434     790          3        605     1      0             0              0
 578520    621          3        664     1      0             0              0
 623124    625          5        898     1      1             0              0
 508203    549          3        530     1      1             0              0
 723915   1066          6       1032     1      0             0              0
 436517    223          4        711     1      1             0              0
 543131    912          7          0     0      0             0              0
 817463    954          6        993     1      0             0              0
 474034    945          6        351     1      0             0              0
 553253    999          5        716     1      1             0              1
 806575    101          1        637     1      0             0              1
 39987     963          5        823     1      0             0              0
 753348    394          7          0     0      0             0              0
 458859    265          5        486     1      0             0              0
 943016    512          5       1435     1      1             0              0
 570194    100          3        664     1      1             0              0
 253216      7          6        751     1      0             0              0
 657100     36          2       1053     1      1             0              0
 680190    826          3        726     1      0             0              1
 363072    559          1       1034     1      1             0              1
 596306    567          1        652     1      0             0              0
 172077    368          5        636     1      0             0              0
 283075   1051          3       1080     1      1             0              0
 552952    698          5       1860     1      1             0              0
 ...       ...        ...        ...   ...    ...           ...            ...
 841087     48          5        539     1      1             0              0
 616606    797          4          0     0      0             3              1
 510763    879          1        500     1      1             0              0
 642349    895          2       1002     1      1             0              0
 658860    681          1        535     1      1             0              0
 85008     269          6        892     1      0             0              0
 60113    1019          1        640     1      0             0              0
 63155     716          5        553     1      1             0              1
 502767    688          1        364     1      0             0              0
 421776   1092          4          0     0      1             1              1
 507055    516          4        873     1      1             0              0
 401370    513          2       1708     1      0             0              0
 984524    765          3        638     1      0             0              0
 165680    661          4        580     1      1             0              0
 327       328          5        577     1      1             0              1
 575593   1039          6        940     1      0             0              0
 595431    807          2        835     1      0             0              0
 142957    238          3        935     1      0             0              0
 456760    396          7          0     0      0             0              0
 271165    235          1        703     1      1             0              0
 893554    110          7          0     0      0             0              0
 465409    125          6       1262     1      0             0              0
 194596    587          6        781     1      0             0              0
 205506    347          3        343     1      1             0              0
 577864   1080          4        681     1      0             0              0
 910623    454          6        255     1      0             0              0
 79265     101          4        791     1      1             0              0
 941106    832          7          0     0      0             0              0
 159744    300          2        820     1      0             0              0
 283048   1020          3       1108     1      1             0              0

         month  year
 881966      5  2013
 799181      7  2013
 87792       5  2015
 451350      5  2014
 280734     11  2014
 788923      7  2013
 26434       7  2015
 578520      1  2014
 623124     12  2013
 508203      4  2014
 723915      9  2013
 436517      6  2014
 543131      3  2014
 817463      6  2013
 474034      5  2014
 553253      2  2014
 806575      7  2013
 39987       6  2015
 753348      8  2013
 458859      5  2014
 943016      3  2013
 570194      2  2014
 253216     12  2014
 657100     11  2013
 680190     10  2013
 363072      8  2014
 596306      1  2014
 172077      2  2015
 283075     11  2014
 552952      2  2014
 ...       ...   ...
 841087      6  2013
 616606     12  2013
 510763      3  2014
 642349     12  2013
 658860     11  2013
 85008       5  2015
 60113       6  2015
 63155       6  2015
 502767      4  2014
 421776      6  2014
 507055      4  2014
 401370      7  2014
 984524      1  2013
 165680      3  2015
 327         7  2015
 575593      2  2014
 595431      1  2014
 142957      3  2015
 456760      5  2014
 271165     11  2014
 893554      4  2013
 465409      5  2014
 194596      2  2015
 205506      1  2015
 577864      1  2014
 910623      4  2013
 79265       5  2015
 941106      3  2013
 159744      3  2015
 283048     11  2014

 [203442 rows x 9 columns],         Sales
 881966  12569
 799181   5420
 87792       0
 451350   7616
 280734   4585
 788923   5178
 26434    6195
 578520   4523
 623124   9255
 508203   4737
 723915  10096
 436517   7361
 543131      0
 817463   7108
 474034   2925
 553253  10042
 806575   5715
 39987    8611
 753348      0
 458859   4156
 943016   5704
 570194   8102
 253216   7776
 657100   8500
 680190   8062
 363072   8980
 596306   4717
 172077   8112
 283075   8517
 552952  14721
 ...       ...
 841087   4998
 616606      0
 510763   6226
 642349  11441
 658860   4348
 85008    6736
 60113    7276
 63155    7629
 502767   3008
 421776      0
 507055   6674
 401370  14006
 984524   6810
 165680   7016
 327      5662
 575593   7135
 595431   7356
 142957   5361
 456760      0
 271165  10411
 893554      0
 465409   8912
 194596  12096
 205506   4562
 577864   7101
 910623   2226
 79265    8044
 941106      0
 159744   5883
 283048   9505

 [203442 rows x 1 columns], None)

In [233]:
def text_process(text):
    
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = [word for word in text.split() if word.lower() not in stopwords.words('english')]
    
    return " ".join(text)

def feature_extraction(row, X_train, X_test,X_pred):
    if meta['name'].loc[0] == 'uciml_sms-spam-collection-dataset':
        rowcsv = pd.read_csv("./uciml_sms-spam-collection-dataset/submission/row.csv")
        row_extract = rowcsv['featureExtractor function call'].loc[0]
        sms = X_train
        extract = eval(row_extract)
        sms['message'] = eval(extract[0])
        sms['message'] = eval(extract[1])
        text_feat = sms['message'].apply(str).copy()
        text_feat = eval(extract[2])
        vectorizer = eval(extract[3])
        features = eval(extract[4])
        features_train, features_test, labels_train, labels_test = train_test_split(features, sms['label'], test_size=0.3)
        return features_train, features_test, labels_train, labels_test
    else:
        if type(meta["featureExtractor function call"].loc[0]) is not str:
            print('not func')
            return X_train,X_test,X_pred
        extraction_function_calls = str(row_data["function call feature extraction"].loc[0])
        extraction_function_calls = extraction_function_calls.split(",")
        extraction_funtion_param = eval(row_data["function parameters feature extraction"].loc[0])
        function_nums = len(extraction_function_calls)
        for i in range(function_nums):
            str1 = extraction_function_calls[i]
            str2 = extraction_funtion_param[i]
            l_str = str1.split("(")
            l_str.insert(1,"("+str2)
            str_call = ''
            str_call = str_call.join(l_str)
            str_call = 'extractor' + '=' + str_call
            exec(str_call, globals(), globals())
            extracted_train = extractor.fit_transform(X_train)
            n_comp = extracted_train.shape[1]
            for j in range(0, n_comp):
                X_train['extractor'+ str(i)+"_"+str(j)] = extracted_train[:, j]
            if X_test is not None:
                extracted_test = extractor.fit_transform(X_test)
                for j in range(0, n_comp):
                    X_test['extractor'+ str(i)+"_"+str(j)] = extracted_test[:, j]
                return X_train,X_test
            else:
                return X_train,None

In [234]:
def feature_selection():
    pass

In [246]:
def estimation(row,X_train,X_test,Y_train, Y_test):
    if row in nlp_rows:
        rowcsv = pd.read_csv("./uciml_sms-spam-collection-dataset/submission/row.csv")
        row_extract = eval(rowcsv['estimator1 function call'].loc[0])
        mnb = eval(row_extract[0])
        eval(row_extract[1])
        pred = eval(row_extract[2])
        if rowcsv['performanceMetric'].loc[0] == 'accuracy':
            return accuracy_score(Y_test, pred)
    else:
        estimation_function_calls = eval(meta["estimator1 function call"].loc[0])
        print(estimation_function_calls)
        if len(estimation_function_calls) == 1:
            str_call = estimation_function_calls[0]
            str_call = 'estimator' + '=' + str_call
            exec(str_call,globals(),globals())
            
            if meta["taskType"].loc[0] == 'classification':
                estimator.fit(X_train,Y_train)
                Y_pred = estimator.predict(X_test)
                print('here')
                print(accuracy_score(Y_test,Y_pred))
            elif meta["taskType"].loc[0] == 'regression':
                estimator.fit(X_train, Y_train)
                Y_pred = estimator.predict(X_test)
                print("Mean Squared Error is: ", mean_squared_error(Y_test,Y_pred))
        else:
            estimators = []
            n_estimators = len(estimation_function_calls)
            for i in range(n_estimators):
                str1 = extraction_function_calls
                l_str = str1.split("(")
                l_str.insert(1,"("+str2)
                str_call = ''
                str_call = str_call.join(l_str)
                str_call = 'estimator' + '=' + str_call
                print(l_str)
                print(str_call)
                exec(str_call)
                estimators.append(estimator)
                postprocessing(estimators,stack = True)

In [247]:
if row in nlp_rows:
    train_set = preprocessing(row)
    X_train, X_test, Y_train, Y_test = feature_extraction(row, train_set, None)
    Y_pred = estimation(row, X_train, X_test, Y_train, Y_test)
    print(Y_pred)
if row in tabular_rows:
    X_train,Y_train,X_test,Y_test,X_pred = preprocessing(row)
    X_train,X_test,X_pred = feature_extraction(row,X_train,X_test,X_pred)
    estimation(row,X_train,X_test,Y_train, Y_test)

In [248]:
# if meta['name'].loc[row] == 'uciml_sms-spam-collection-dataset':
#     train_set = preprocessing(row)
#     X_train, X_test, Y_train, Y_test = feature_extraction(row, train_set, None)
#     Y_pred = estimation(row, X_train, X_test, Y_train, Y_test)
#     print(Y_pred)

In [249]:
def postprocessing(estimators,stack):
    pass

In [250]:
end = time.time()
print("Use", end - start, "seconds to run this.")

Use 142.54396104812622 seconds to run this.

In [251]:
meta

,Unnamed: 0,NetId,name,URL,endDate,dataSize,table,image,audio,video,...,Unnamed: 212,Unnamed: 213,Unnamed: 214,Unnamed: 215,Unnamed: 216,Unnamed: 217,Unnamed: 218,Unnamed: 219,Unnamed: 220,Unnamed: 221
0,524,"jc7483, zl1596",rossmann-store-sales,https://www.kaggle.com/c/rossmann-store-sales,12/14/15 23:59,39.55MB,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [252]:
meta['test set'].loc[0]

'rossmann-store-sales'

In [253]:
A = preprocessing(row)

/Users/Osborn/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3214: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

   Store  DayOfWeek        Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5  2015-07-31   5263        555     1      1            0
1      2          5  2015-07-31   6064        625     1      1            0
2      3          5  2015-07-31   8314        821     1      1            0
3      4          5  2015-07-31  13995       1498     1      1            0
4      5          5  2015-07-31   4822        559     1      1            0

   SchoolHoliday
0              1
1              1
2              1
3              1
4              1
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday
0              1
1              1
2              1
3              1
4              1
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month
0              1      7
1              1      7
2              1      7
3              1      7
4              1      7
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
         Store  DayOfWeek  Sales  Customers  Open  Promo StateHoliday  \
0            1          5   5263        555     1      1            0
1            2          5   6064        625     1      1            0
2            3          5   8314        821     1      1            0
3            4          5  13995       1498     1      1            0
4            5          5   4822        559     1      1            0
5            6          5   5651        589     1      1            0
6            7          5  15344       1414     1      1            0
7            8          5   8492        833     1      1            0
8            9          5   8565        687     1      1            0
9           10          5   7185        681     1      1            0
10          11          5  10457       1236     1      1            0
11          12          5   8959        962     1      1            0
12          13          5   8821        568     1      1            0
13          14          5   6544        710     1      1            0
14          15          5   9191        766     1      1            0
15          16          5  10231        979     1      1            0
16          17          5   8430        946     1      1            0
17          18          5  10071        936     1      1            0
18          19          5   8234        718     1      1            0
19          20          5   9593        974     1      1            0
20          21          5   9515        682     1      1            0
21          22          5   6566        633     1      1            0
22          23          5   7273        560     1      1            0
23          24          5  14190       1082     1      1            0
24          25          5  14180       1586     1      1            0
25          26          5   7818        611     1      1            0
26          27          5  13213       1263     1      1            0
27          28          5   7301        663     1      1            0
28          29          5   9411        737     1      1            0
29          30          5   4776        625     1      1            0
...        ...        ...    ...        ...   ...    ...          ...
1017179   1086          2      0          0     0      0            a
1017180   1087          2      0          0     0      0            a
1017181   1088          2      0          0     0      0            a
1017182   1089          2      0          0     0      0            a
1017183   1090          2      0          0     0      0            a
1017184   1091          2      0          0     0      0            a
1017185   1092          2      0          0     0      0            a
1017186   1093          2      0          0     0      0            a
1017187   1094          2      0          0     0      0            a
1017188   1095          2      0          0     0      0            a
1017189   1096          2      0          0     0      0            a
1017190   1097          2   5961       1405     1      0            a
1017191   1098          2      0          0     0      0            a
1017192   1099          2      0          0     0      0            a
1017193   1100          2      0          0     0      0            a
1017194   1101          2      0          0     0      0            a
1017195   1102          2      0          0     0      0            a
1017196   1103          2      0          0     0      0            a
1017197   1104          2      0          0     0      0            a
1017198   1105          2      0          0     0      0            a
1017199   1106          2      0          0     0      0            a
1017200   1107          2      0          0     0      0            a
1017201   1108          2      0          0     0      0            a
1017202   1109          2      0          0     0      0            a
1017203   1110          2      0          0     0      0            a
1017204   1111          2      0          0     0      0            a
1017205   1112          2      0          0     0      0            a
1017206   1113          2      0          0     0      0            a
1017207   1114          2      0          0     0      0            a
1017208   1115          2      0          0     0      0            a

         SchoolHoliday  month  year
0                    1      7  2015
1                    1      7  2015
2                    1      7  2015
3                    1      7  2015
4                    1      7  2015
5                    1      7  2015
6                    1      7  2015
7                    1      7  2015
8                    1      7  2015
9                    1      7  2015
10                   1      7  2015
11                   1      7  2015
12                   0      7  2015
13                   1      7  2015
14                   1      7  2015
15                   1      7  2015
16                   1      7  2015
17                   1      7  2015
18                   1      7  2015
19                   0      7  2015
20                   1      7  2015
21                   0      7  2015
22                   1      7  2015
23                   1      7  2015
24                   1      7  2015
25                   1      7  2015
26                   1      7  2015
27                   1      7  2015
28                   1      7  2015
29                   1      7  2015
...                ...    ...   ...
1017179              1      1  2013
1017180              1      1  2013
1017181              1      1  2013
1017182              1      1  2013
1017183              1      1  2013
1017184              1      1  2013
1017185              1      1  2013
1017186              1      1  2013
1017187              1      1  2013
1017188              1      1  2013
1017189              1      1  2013
1017190              1      1  2013
1017191              1      1  2013
1017192              1      1  2013
1017193              1      1  2013
1017194              1      1  2013
1017195              1      1  2013
1017196              1      1  2013
1017197              1      1  2013
1017198              1      1  2013
1017199              1      1  2013
1017200              1      1  2013
1017201              1      1  2013
1017202              1      1  2013
1017203              1      1  2013
1017204              1      1  2013
1017205              1      1  2013
1017206              1      1  2013
1017207              1      1  2013
1017208              1      1  2013

[1017209 rows x 10 columns]

In [254]:
train_X, train_Y, test_X, test_Y, pred = preprocessing(row)

   Store  DayOfWeek        Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5  2015-07-31   5263        555     1      1            0
1      2          5  2015-07-31   6064        625     1      1            0
2      3          5  2015-07-31   8314        821     1      1            0
3      4          5  2015-07-31  13995       1498     1      1            0
4      5          5  2015-07-31   4822        559     1      1            0

   SchoolHoliday
0              1
1              1
2              1
3              1
4              1
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday
0              1
1              1
2              1
3              1
4              1
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month
0              1      7
1              1      7
2              1      7
3              1      7
4              1      7
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
   Store  DayOfWeek       Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5 2015-07-31   5263        555     1      1            0
1      2          5 2015-07-31   6064        625     1      1            0
2      3          5 2015-07-31   8314        821     1      1            0
3      4          5 2015-07-31  13995       1498     1      1            0
4      5          5 2015-07-31   4822        559     1      1            0

   SchoolHoliday  month  year
0              1      7  2015
1              1      7  2015
2              1      7  2015
3              1      7  2015
4              1      7  2015
         Store  DayOfWeek  Sales  Customers  Open  Promo StateHoliday  \
0            1          5   5263        555     1      1            0
1            2          5   6064        625     1      1            0
2            3          5   8314        821     1      1            0
3            4          5  13995       1498     1      1            0
4            5          5   4822        559     1      1            0
5            6          5   5651        589     1      1            0
6            7          5  15344       1414     1      1            0
7            8          5   8492        833     1      1            0
8            9          5   8565        687     1      1            0
9           10          5   7185        681     1      1            0
10          11          5  10457       1236     1      1            0
11          12          5   8959        962     1      1            0
12          13          5   8821        568     1      1            0
13          14          5   6544        710     1      1            0
14          15          5   9191        766     1      1            0
15          16          5  10231        979     1      1            0
16          17          5   8430        946     1      1            0
17          18          5  10071        936     1      1            0
18          19          5   8234        718     1      1            0
19          20          5   9593        974     1      1            0
20          21          5   9515        682     1      1            0
21          22          5   6566        633     1      1            0
22          23          5   7273        560     1      1            0
23          24          5  14190       1082     1      1            0
24          25          5  14180       1586     1      1            0
25          26          5   7818        611     1      1            0
26          27          5  13213       1263     1      1            0
27          28          5   7301        663     1      1            0
28          29          5   9411        737     1      1            0
29          30          5   4776        625     1      1            0
...        ...        ...    ...        ...   ...    ...          ...
1017179   1086          2      0          0     0      0            a
1017180   1087          2      0          0     0      0            a
1017181   1088          2      0          0     0      0            a
1017182   1089          2      0          0     0      0            a
1017183   1090          2      0          0     0      0            a
1017184   1091          2      0          0     0      0            a
1017185   1092          2      0          0     0      0            a
1017186   1093          2      0          0     0      0            a
1017187   1094          2      0          0     0      0            a
1017188   1095          2      0          0     0      0            a
1017189   1096          2      0          0     0      0            a
1017190   1097          2   5961       1405     1      0            a
1017191   1098          2      0          0     0      0            a
1017192   1099          2      0          0     0      0            a
1017193   1100          2      0          0     0      0            a
1017194   1101          2      0          0     0      0            a
1017195   1102          2      0          0     0      0            a
1017196   1103          2      0          0     0      0            a
1017197   1104          2      0          0     0      0            a
1017198   1105          2      0          0     0      0            a
1017199   1106          2      0          0     0      0            a
1017200   1107          2      0          0     0      0            a
1017201   1108          2      0          0     0      0            a
1017202   1109          2      0          0     0      0            a
1017203   1110          2      0          0     0      0            a
1017204   1111          2      0          0     0      0            a
1017205   1112          2      0          0     0      0            a
1017206   1113          2      0          0     0      0            a
1017207   1114          2      0          0     0      0            a
1017208   1115          2      0          0     0      0            a

         SchoolHoliday  month  year
0                    1      7  2015
1                    1      7  2015
2                    1      7  2015
3                    1      7  2015
4                    1      7  2015
5                    1      7  2015
6                    1      7  2015
7                    1      7  2015
8                    1      7  2015
9                    1      7  2015
10                   1      7  2015
11                   1      7  2015
12                   0      7  2015
13                   1      7  2015
14                   1      7  2015
15                   1      7  2015
16                   1      7  2015
17                   1      7  2015
18                   1      7  2015
19                   0      7  2015
20                   1      7  2015
21                   0      7  2015
22                   1      7  2015
23                   1      7  2015
24                   1      7  2015
25                   1      7  2015
26                   1      7  2015
27                   1      7  2015
28                   1      7  2015
29                   1      7  2015
...                ...    ...   ...
1017179              1      1  2013
1017180              1      1  2013
1017181              1      1  2013
1017182              1      1  2013
1017183              1      1  2013
1017184              1      1  2013
1017185              1      1  2013
1017186              1      1  2013
1017187              1      1  2013
1017188              1      1  2013
1017189              1      1  2013
1017190              1      1  2013
1017191              1      1  2013
1017192              1      1  2013
1017193              1      1  2013
1017194              1      1  2013
1017195              1      1  2013
1017196              1      1  2013
1017197              1      1  2013
1017198              1      1  2013
1017199              1      1  2013
1017200              1      1  2013
1017201              1      1  2013
1017202              1      1  2013
1017203              1      1  2013
1017204              1      1  2013
1017205              1      1  2013
1017206              1      1  2013
1017207              1      1  2013
1017208              1      1  2013

[1017209 rows x 10 columns]

In [255]:
train_Y

        Sales
891841   5343
304053   9125
336962  12264
134058  17638
52274   11608
588056   6922
626627  10998
50220    6652
284985  11155
132666   8701
70644    8995
682403   6936
417534      0
654445  14389
978107   6819
19362    6329
716237   3925
415947   6108
985449   3440
987420      0
277508   3897
775517   2888
991564   5650
770348   3804
630171   7522
400181   2902
380177  11063
27788    6068
642311   8661
417538      0
...       ...
817809   6598
401938   5796
914341   9538
711501   6524
123819   2748
450652   4938
470603   7220
482460   4970
192469   5206
820117   2529
446440   5065
204054   6203
953984   3272
517713   7906
554078  11358
966725   4932
240761   4296
914394   6093
627638  19852
510058   7097
49482   11474
845038   7466
678613   4969
967302   4325
606558   5587
614862   8109
628054  11186
565797      0
359004   8059
619006   6417

[813767 rows x 1 columns]

In [256]:
estimation(row,train_X, test_X, train_Y, test_Y)

['RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)']
RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)
estimator=RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)

/Users/Osborn/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Mean Squared Error is:  3979675.8382824594